


ul {
    background-color:#4B0082;
    padding: 20px;
}

a{
	text-decoration: none;
    color: white;
}

ul li {
	list-style-type: none;
    /*background: #cce5ff;*/
    margin: 5px;
}
p{
    font-size: 20px;
    color: white;
}
body{
    background-color: #b8a9c9;
}
.well{
    background-color: #b8a9c9;
}
h1{
    color: #4B0082;
}
.liston{
    float: right;
    position: relative;
    margin-right: 20px;
}
.listoff{
    float: left;
    position: relative; 
    margin-left: 20px;
}
.icon{
    margin: auto;
    width: 10%;
    padding: 10px;
}
.pcol{
    color: #4B0082;
    font-size: 30px
}
