input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}


ul {
    background: #3399ff;
    padding: 20px;
}

a{
	text-decoration: none;
}

ul li {
	list-style-type: none;
    background: #cce5ff;
    margin: 5px;
}